* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}

body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1, h2, h3, p {
    font-family: "Inter", serif;
}


.wallpaper-recent {
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    padding: 20px;
    background-color: #FD6E2B;
    width: 393px;
    height: 840px;
    background-image: url("../public/RECENT PAGE.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;}

.recent-content{
    background-color: #473366;
    width: 310px;
    height: 150px;
    border-radius: 15px;
    margin-top: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    
}
.recent-container{
    margin-top: 15rem;
}

.img-recent-car{
    margin-left: 12rem;
    margin-top: -10rem;
}

.navbar-recent{
    margin-top: -7rem;
}

.recent-info-use{
    margin-top: -30rem;
    margin-right: 7rem;
    font-size: 120px;
    color: #ffffff;
}

.setnoti-recent{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.more-recent{
    margin-top: -13rem;
    margin-left: 12rem;
}

.more-recent2{
    margin-top: 26.5rem;
    margin-left: 12rem;
}

.more-button{
    border-radius: 3rem;
    background-color: #FD6E2B;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    width: 100px;
    height: 40px;
}