* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wallpaper2 {
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    padding: 20px;
    background-color: #FD6E2B;
    width: 393px;
    height: 893px;
    background-image: url("../public/wallpaper2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wallpaper2-content{
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.wallpaper2-content:hover{
    overflow-y: auto;
}


.btnm {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #FD6E2B;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-container {
    display: flex;
    justify-content: space-between;

}

.mainmenu {
    margin-top: 12.5rem;
    margin-bottom: 1.5rem;
}

.aigen {
    margin-top: 2rem;
}

.aiback {
    margin-top: 2rem;
    border: 1px solid #FD6E2B;
    height: 155px;
    border-radius: 20px;
    background-color: #FD6E2B;
    display: flex;
    justify-content: center;
}

.cloud {
    width: 300px;
    height: 300px;
    margin-top: -15rem;
    margin-left: -1rem;
    position: relative;
    z-index: 1;
}

.date {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    height: 35px;
    width: 315px;
    background-color: #f2f2e6;
}

.aiback2 {
    border: 1px solid rgb(255, 94, 0);
    height: 105px;
    width: 320px;
    border-radius: 20px;
    background-color: #EB520B;
    margin-top: -9rem;
    margin-left: 1.1rem;
    position: relative;
    z-index: 2;
    justify-content: center;
    display: flex;
}

.notiai {
    position: relative;
    z-index: 2;
    margin-top: 1rem;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    height: 70px;
    width: 290px;
    background-color: #f2f2e6;
}

.ticket {
    margin-top: 2rem;
}

.tick{
    width: 370px;
    height: 350px;
    margin-top: -6rem;
    margin-left: -0.5rem;
    position: relative;
    z-index: 1;
    
}

.tick-cal2{
    height: 85px;
    width: 200px;
    border-radius: 20px;
    background-color: #f2f2e6;
    margin-top: -13.5rem;
    position: relative;
    z-index: 2;
    margin-left: 8.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.qrcode-dashdash{
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  border-radius: 100px;
}

.tick-cal{
    height: 90px;
    width: 90px;
    border-radius: 20px;
    background-color: #f2f2e6;
    margin-top: -5.5rem;
    position: relative;
    z-index: 2;
    margin-left: 0.9rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.profile{
    border: 3.5px solid #473366;
    background-color: #f2f2e6;
    height: 68px;
    width: 130px;
    margin-top: 6rem;
    position: relative;
    z-index: 2;
    margin-left: 14.6rem;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(180, 99, 255, 0.6);


}

.dashboard-content{
    margin-top: -10rem;
}

.btn-tick{
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #473366;
    width: 80px;
    margin-top: 36.3rem;
    height: 34px;
    margin-left: 16rem;
    position: relative;
    z-index: 5;
}

.tick-cal-info{
  font-size: 12px;
  position: relative;
  z-index: 1;
  margin-top: -4.8rem;
  margin-left: 11rem;
  line-height: 5px; 
}

.imggj1{
    margin-left: -0.3rem;
}


.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-left: -0.4rem;
    
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    font-size: 12px;
    color: #303030;
    cursor: pointer;
    font-size: 10px;
    padding-left: 0.2rem;
  }
  
  .menu-item:hover {
    color: #ff6600; /* สีส้ม */
  }

  .user-dash{
    margin-top: -94rem;
    margin-left: -0.5rem;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid #473366;
    box-shadow: 0px 4px 6px rgba(146, 73, 255, 0.5);
    
  }

  .info-dash{
    margin-top: -48.2rem;
    color: #ffff;
    margin-left: 6rem;
  }

  .info-dash1{
    color: #291a3f;
    line-height: 0.3;
    margin-top: 1.3rem;
  }

  .celcius-dash{
    margin-top: 1rem;
    margin-left: 2.7rem;
    display: flex;
    color: #473366;
  }

  .thunder-dash{
    margin-top: -4.3rem;
    margin-left: 0.5rem;
  }

  .thunderinfo-dash{
    margin-top: -0.5rem;
    margin-left: 1rem;
  }
  
  .setnoti-dash{
    display: flex;
    margin-left: 18rem;
    margin-top: -5.1rem;
  }

  .notify-dash{
    margin-left: -1.5rem;
  }

  .footer-dash{
    margin-top: 41rem;
    position: relative;
    z-index: 3;
  }
 